

.main {
    background-color: #FFFFFF;
    width: 85%;
    padding: 10px;
    height: 150px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    text-align: center;
}

.mainTextAgendaDetails{
  background-color: #FFFFFF;
  width: 85%;
  padding: 10px;
  height: 150px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  text-align: center;
}


.mainText {
    background-color: #FFFFFF;
    width: 100%;
    padding: 10px;
    height: auto;
    margin:  auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    text-align: center;
    align-items: center;
}

.mainTextCategorias {
    background-color: #FFFFFF;
    width: 50%;
    padding: 10px;
    height: auto;
    margin:  auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    text-align: center;
    align-items: center;
}




.registoContainer {
    background-color: #FFFFFF;
    width: auto;
    padding: 20px;
    height: 650px;
    margin:  auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    text-align: center;
    
}

.mainContainerImage {
    display: flex;
    background-color: #FFFFFF;
    width: auto;
    height: auto;
    margin:  auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    text-align: center;
    align-items: center;
    margin-top: 10px;
}

.mainContainerImage2 {
  display: flex;
 
  width: auto;
  height: auto;
  margin:  auto;
 
}

.parent{
    display: block;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px;
    
}

.child{
    width:100%;
    height: 100%;
}


.parent::before{
    content: "";
    width: 100%;
    order: 1;
}

.child:nth-child(n + 5){
    order: 2;
}


.box img{
    width: auto;
    height:auto;
    
}



.effect-3{border: 0; padding: 7px 0; border-bottom: 1px solid #ccc; align-items: center; align-items: center;}
.effect-3 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 100%; height: 2px; z-index: 99;}
.effect-3 ~ .focus-border:before, 
.effect-3 ~ .focus-border:after{content: ""; position: absolute; bottom: 0; left: 0; width: 0; height: 100%; background-color: #6610f2; transition: 0.4s;}
.effect-3 ~ .focus-border:after{left: auto; right: 0;}
.effect-3:focus ~ .focus-border:before, 
.effect-3:focus ~ .focus-border:after{width: 50%; transition: 0.4s;}


.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: relative;
    display: flex;
    justify-content: center;
    
  }

  .file-input label {
    display: block;
    position: relative;
    width: 30%;
    margin: 0 auto;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(40deg, #ff6ec4, #7873f5);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
  }

  .un {
      width: 100%;
  }


  .unTextArea{
      width: 100%;
      height: 300px;
      padding:10px;

  }

  .mainTextFormContainer {
    background-color: #FFFFFF;
    width: 100%;
    padding: 10px;
    height: auto;
    margin:  auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    text-align: center;
    align-items: center;
    cursor: pointer;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    width: 20%;
    margin: auto;
    margin-top: 20px;
    
  }



  .fill-div{
      display: block;
      height: 100%;
      width: 100%;
      text-decoration: none;
      color: inherit;
      
  }


  select {
    /* Reset Select */
    margin: 0 auto;
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: #7873f5;
    background-image: none;
    cursor: pointer;
   
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select wrapper */
  .select {
      margin: 0 auto;
      margin-top: 25px;
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #7873f5;
    transition: .25s all ease;
    pointer-events: none;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }

  :root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }
  
  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
  
  body{
    height: 100%;
  }
  
  .hero-section{
    align-items: flex-start;
    background-image: #fff;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 150%;
  }
  
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(5, 1fr); 
    }
  }
  
  .card{
    list-style: none;
    position: relative;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    trsnsform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }

  #footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
  
}
.containerMarginButton{
  margin-top: 40px;
}
#containerButton{
  margin: 0;
  position: absolute;
  margin-top: 40px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #4336FB;
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}
